#test{
    background-color: aquamarine;
}

.locations{
    height: 800px;
    border-radius: 20px;
}

#locationA{
    background-color: blueviolet;
}

#locationB{
    background-color: pink;
}

#locationC{
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar{
    display: flex;
    list-style: none;
}

#locationC form{
    background-color: honeydew;
    width: 200px;
    
}