html{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
}

#test {
  background-color: aquamarine;
}

.locations {
  height: 800px;
  border-radius: 20px;
}

#highlights {
  background-color: blueviolet;
}

#testimonials {
  background-color: pink;
  height: 200px;
}

#join-newsletter {
  background-color: green;
}

#navbar {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
